<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
		
			<add key="animal" value="Dog"/>
			<add key="phylum" value="Chordata"/>
			<add key="order" value="Carnivora"/>
			<add key="species" value="Canis lupus"/>
			<add key="subspecies" value="38"/>
		</appSettings>
</configuration>